@import "~@fontsource/montserrat/index.css";
@import "~@fontsource/montserrat/700.css";

@import './mixins.scss';

.container{
  @include container
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}